<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CarFinder</title>

    <!-- CSS for my table-->
    <link href="css/CarFinder.css" rel="stylesheet" />

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/full-width-pics.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand">CarFinder</a>
                <a class="navbar-brand" href="#application">GetStarted</a>
            </div>
         </div>
     </nav>

    <!-- Header-->
    <header>
        <img class="img-responsive img-center" src="images/carheader2.jpg" alt="">
    </header>

    <!-- Content Section -->
    <a name="application"></a>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Car Finder</h1>
                    <p class="lead section-lead">This application will let you find a car based off of the Year, Make, Model, and Trim of your choosing.</p>
                    <p class="section-paragraph">To get started select a Year first, then a Make, next a Model, and at last a Trim.</p>
                </div>
            </div>
        </div>
        <div class="container" ng-app="myCarApp" >
            <div ng-controller="myCarController as car">

                Select Year:  <select ng-options="y for y in car.years" ng-model="car.selected.year" ng-change="car.getMakes()">{{y}}</select>
                Select Make:  <select ng-options="mak for mak in car.makes" ng-model="car.selected.make" ng-change="car.getModels()">{{mak}}</select>
                Select Model: <select ng-options="mod for mod in car.models" ng-model="car.selected.model" ng-change="car.getTrims()">{{mod}}</select>
                Select Trim:  <select ng-options="t for t in car.trims" ng-model="car.selected.trim" ng-change="car.getCars()">{{t}}</select>
                <br /><br />

                <table class="table-bordered table">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Trim</th>
                            <th>Body Style</th>
                            <th>Seating Capacity</th>
                            <th>Transmission Type</th>
                            <th>Drive Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in car.cars | limitTo: 25">
                            <td>{{c.model_year}}</td>
                            <td>{{c.make}}</td>
                            <td>{{c.model_name}}</td>
                            <td>{{c.model_trim}}</td>
                            <td>{{c.body_style}}</td>
                            <td>{{c.seats}}</td>
                            <td>{{c.transmission_type}}</td>
                            <td>{{c.drive_type}}</td>
                        </tr>
                    </tbody>
                </table>
                
                <table class="table-bordered table">
                    <thead>
                        <tr>
                            <th>Recalls</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-model="car.getCar(id)">
                            <td>{{id}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="panel-footer navbar navbar-inverse navbar-fixed-bottom ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Chris Rose 2016 - CarFinder Created with Web API / AngularJS - <a target="_blank" href="/help">API Documentation</a></p>

                   </div>  
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>

        <!--AngularJS-->
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/MyAngular/carApp.js"></script>
    <script src="Scripts/MyAngular/carController.js"></script>
    <script src="Scripts/MyAngular/carSvc.js"></script>

</body>

</html>
