<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CarFinder</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/full-width-pics.css" rel="stylesheet">

    <!--trNgGrid CSS-->
    <link href="css/trNgGrid.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CarFinder</a>
                <a class="navbar-brand" href="#application">GetStarted</a>
                <a class="navbar-brand" target="_blank" href="/help">Help</a>
            </div>
         </div>
     </nav>

    <!-- Header-->
    <header>
        <img class="img-responsive img-center" src="images/carheader2.jpg" alt="">
    </header>

    <!-- Content Section -->
    <a name="application"></a>
    <section class="mainsection">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">Car Finder</h1>
                    <h4>This application will let you find a car based off of the Year, Make, Model, and Trim of your choosing.</h4>
                    <h4>To get started select a Year first, then a Make, next a Model, and at last a Trim.</h4><br />
                </div>
            </div>
        </div>
        <div class="container" ng-app="myCarApp" >
            <div ng-controller="myCarController as car">

                <b>Select Year:</b>  <select ng-options="y for y in car.years" ng-model="car.selected.year" ng-change="car.getMakes()">{{y}}</select>
                <b>Select Make:</b>  <select ng-options="mak for mak in car.makes" ng-model="car.selected.make" ng-change="car.getModels()">{{mak}}</select>
                <b>Select Model:</b> <select ng-options="mod for mod in car.models" ng-model="car.selected.model" ng-change="car.getTrims()">{{mod}}</select>
                <b>Select Trim:</b>  <select ng-options="t for t in car.trims" ng-model="car.selected.trim" ng-change="car.getCars()">{{t}}</select>
                <br /><br /><br />

                <table tr-ng-grid="" items="car.cars" page-items="20">
                    <thead>
                        <tr>
                            <th field-name="model_year" display-name="Year"></th>
                            <th field-name="make" display-name="Make"></th>
                            <th field-name="model_name" display-name="Model"></th>
                            <th field-name="model_trim" display-name="Trim"></th>
                            <th field-name="body_style" display-name="Body Style"></th>
                            <th field-name="engine_power_ps" display-name="Horsepower"></th>
                            <th field-name="transmission_type" display-name="Trasnsmission"></th>
                            <th field-name="drive_type" display-name="Drive Type"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><button ng-click="car.open(gridItem.id)">View</button></td>
                        </tr>
                    </tbody>
                </table>

                <!--Modal-->
                <script type="text/ng-template" id="carModal.html">
                    <div class="modal-header">
                        <h3 class="modal-title">
                            <b>{{cm.car.car.model_year}}  {{cm.car.car.make}}  {{cm.car.car.model_name}}  {{cm.car.car.model_trim}}</b>
                            <button class="pull-right btn btn-default" ng-click="cm.cancel()">X</button>
                        </h3>
                    </div>
                    <div class="modal-body">

                        <uib-tabset>
                            <uib-tab class="detailstyle" heading="Image / Details">
                                <image class=col-lg-8 style="max-width:500px;" ng-src="{{cm.car.image}}" />
                                <p><b>Body Style:</b>           {{cm.car.car.body_style}}</p>
                                <p><b>Number of Seats:</b>      {{cm.car.car.seats}}</p>
                                <p><b>Fuel Capacity (L):</b>    {{cm.car.car.fuel_capacity_l}}</p>
                                <p><b>Capacity (cc):</b>        {{cm.car.car.engine_cc}}</p>
                                <p><b>Number of Cylinders:</b>  {{cm.car.car.engine_num_cyl}}</p>
                                <p><b>Horsepower:</b>           {{cm.car.car.engine_power_ps}}</p>
                                <p><b>Torque (rpm):</b>         {{cm.car.car.engine_torque_rpm}}</p>
                                <p><b>Wheelbase (mm):</b>       {{cm.car.car.wheelbase}}</p>
                                <p><b>Total Weight (kg):</b>    {{cm.car.car.weight_kg}}</p>
                            </uib-tab>
                            <uib-tab heading="Recalls">
                                <p><b>                          {{cm.car.recalls.Message}}</b></p>
                            <uib-tab ng-repeat="info in cm.car.recalls.Results " heading="NHTSA Campaign Number: {{info.NHTSACampaignNumber}}">
                                <p><b>Received Date: </b>       {{info.ReportReceivedDate}}</p>
                                <p><b>Component: </b>           {{info.Component}}</p>
                                <p><b>Summary: </b>             {{info.Summary}}</p>
                                <p><b>Consequence: </b>         {{info.Conequence}}</p>
                                <p><b>Remedy: </b>              {{info.Remedy}}</p>
                                <p><b>Notes: </b>               {{info.Notes}}</p>
                            </uib-tab>
                            </uib-tab> 
                        </uib-tabset>
  
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="cm.ok()">OK</button>
                        <button class="btn btn-warning" ng-click="cm.cancel()">Cancel</button>
                    </div>
                </script>

            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="panel-footer navbar-fixed-bottom ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="modal-footer">Copyright &copy; Chris Rose 2016 - CarFinder Created with Web API / AngularJS</p>

                   </div>  
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>

        <!--AngularJS-->
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/trNgGrid.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/MyAngular/carApp.js"></script>
    <script src="Scripts/MyAngular/carController.js"></script>
    <script src="Scripts/MyAngular/carSvc.js"></script>

</body>

</html>
